*{
  font-family: Helvetica;
}

h1,h2,h3, .price{
  font-weight: bold;
}

h1{
  font-size: 100px;
  color: khaki;
  /*background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");*/
  /*background-image: url("/resource/image/frames.jpeg");*/
  /*background-image: url("/projects/Dasmoto/resource/image/pattern.jpeg");*/
  background-image: url("/projects/Dasmoto/resource/image/pattern.jpeg");
}

h2{
  font-size: 32px;
  color: white;
}

#brushes{
  background-color: MediumSpringGreen;
}

#frames{
  background-color: LightCoral;
}

#paint{
  background-color: SkyBlue;
}

.price{
  color: Blue;
}
